
.uc5-container{
	width: 100%;
}

.uc5-main-container{
	width: 80%;
	float: right;
	display: block;
}

.uc5-space-left{
	width: 5%; 
	display: block;
}

.uc5-row-margin{	
	margin-bottom: 10px;
}

.uc5-border-bottom.active{
	/*border-right: 0.1px solid #a100ff;	**/
	border-left: 0.1px solid #a100ff;	
	border-bottom: 0.1px solid #a100ff;	

}

.uc5-lbl-font-weight{
	font-weight: 500;
}

.uc5-status{
	font-size: 22px;
	color: black;
	text-shadow: 0.7px 0.7px  #a100ff;
}

.main-content2{
	margin-left: 2%;
}

.content-inside2{
	margin-top: 0;
}


#promo2{
	margin-left: 3%;
}

#promo2 .col-sm-9{
	width: 110%;
	height: 110%;
}

#pic_upgrade{a
	width: 100%;
	height: 100%;
}

#btn_apply_now{
	width: 35%;
	height: 35%;
	margin-left: 35%;
	position: inherit;
	transition: .6s;
}

#btn_apply_now.active{
	margin-left: 55%;
	transition: .6s;
}


#line_separator{
	margin-left: 13%;
}

#frm_concerns{
	margin-top: 30px;
	margin-left: 50px;
	text-align: left;
}

#frm_concerns label,a{
	font-size: 20px;
}

#acn_logo{
	width: 20%;
	height:20%;
}

.lbl.active{
	display: block;
}

.lbl{
	display: none;
}

.inp.active{
	display: block;
}

.inp{
	display: none;
}